<% layout("/layouts/boilerplate") %>
<body>
    <h3>Create a new Listing</h3>
    <form method="POST" action="/listings" class="needs-validation" novalidate>      
         <div class="mb-3">                                       
            <label for="title" class="form-label">Title</label>     
            <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" required>      
            <div class="valid-feedback">Title looks good!</div>     
        </div>
        
         <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" type="text" class="form-control" required></textarea>
            <div class="invalid-feedback">Please, Enter short description</div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image URL/Link</label>
            <input name="listing[image]" type="text" class="form-control">
        </div>   

         <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="Enter price" type="number" min="0" class="form-control" required>
            <div class="invalid-feedback">Enter correct price</div>
        </div>
        
         <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required>
            <div class="invalid-feedback">Please, Enter correct location</div>
        </div>
        
         <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="Enter Country" type="text" class="form-control" required>
            <div class="invalid-feedback">Please, Enter valid country name</div>
        </div>
        <br>        
        <button class="btn btn-dark">Add</button>                      
    </form>
    <br>
</body>
